.events__item {
    border-radius: 5px;
    list-style: none;
    padding: 20px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events__item:hover{
    box-shadow: 0px 2px 10px 1px rgba(142, 43, 255, 0.2);
}

.events__item h1{
    margin: 0;
    font-size: 1.5rem;
    color: #4f188d;
}

.events__item h2{
    margin: 0;
    font-size: 1rem;
    color: #616161;
}

.events__item p{
    margin: 0;
}

.events__item h2 span{
    font-weight: lighter;
}