.auth-form{
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input{
    width: 100%;
    display: block;
}

.form-control input {
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    outline: none !important;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.form-control input:focus{
    border: 2px solid #8e2bff;
}

.form-control label{
    margin-bottom: 0.5rem;
    margin-left: 20px;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background: #8e2bff;
    color: white;
    font: inherit;
    font-weight: lighter;
    border: 2px solid #8e2bff;
    border-radius: 20px;
    padding: 10px 25px;
    margin-right: 1rem;
    outline: none !important;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.form-actions button:hover{
    background-color: transparent;
    color: #8e2bff;
}